.card {
  /* mimicks a quartet card game card size */
  width: 430px;
  height: 665px;

  /* centering it */
  margin: 10px auto;

  /* background-color  */
  background-color: #e6c11f;

  /* round corners */
  border-radius: 10px;


}

.image img { 
  width: 424px; 
  height: auto;
border-radius: 10px;
margin:3px;
}

.descriptionbox {
width: 430px;
height: 100px;
margin-top: -20px;
 background-color:aqua;
}